<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="header-top">
                        <div class="container">
                            <div class="row">
                                <!-- Begin Header Top Left Area -->
                                <div class="col-lg-3 col-md-4">
                                    <div class="header-top-left">
                                        <ul class="phone-wrap">
                                            <li><span>E-world store:</span><a href="#">(+84) 865057229</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Header Top Left Area End Here -->
                                <!-- Begin Header Top Right Area -->
                                <div class="col-lg-9 col-md-8">
                                    <div class="header-top-right">
                                        <ul class="ht-menu">
                                            <!-- Begin Setting Area -->
                                            <li th:unless="${@sec.authenticated}">
                                                <div class="ht-setting-trigger"><span>Setting</span></div>
                                                <div class="setting ht-setting">
                                                    <ul class="ht-setting-list">
                                                        <li><a th:href="@{/login}">Đăng nhập</a></li>
                                                        <li><a th:href="@{/dangky}">Đăng ký</a></li>
                                                        <li><a th:href="@{/}">Home</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li th:if="${@sec.authenticated}">
                                                <div class="ht-setting-trigger">Hi, <span th:text="${@sec.userContext.fullName}"></span></div>
                                                <div class="setting ht-setting">
                                                    <ul class="ht-setting-list">
                                                        <li><a href="login-register.html">Thông tin của bạn</a></li>
                                                        <li><a th:href="@{/order}">Lịch sử mua hàng</a></li>
                                                        <li><a th:href="@{/logout}">Đăng xuất</a></li>
                                                        <li><a th:href="@{/doimatkhau}">Đổi mật khẩu</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- Setting Area End Here -->
                                            <!-- Begin Currency Area -->
                                            <li>
                                                <span class="currency-selector-wrapper">Currency :</span>
                                                <div class="ht-currency-trigger"><span>USD $</span></div>
                                                <div class="currency ht-currency">
                                                    <ul class="ht-setting-list">
                                                        <li><a href="#">EUR €</a></li>
                                                        <li class="active"><a href="#">USD $</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- Currency Area End Here -->
                                            <!-- Begin Language Area -->
                                            <li>
                                                <span class="language-selector-wrapper">Language :</span>
                                                <div class="ht-language-trigger"><span>English</span></div>
                                                <div class="language ht-language">
                                                    <ul class="ht-setting-list">
                                                        <li class="active"><a href="#"><img src="/images/menu/flag-icon/1.jpg" alt="">English</a></li>
                                                        <li><a href="#"><img src="/images/menu/flag-icon/2.jpg" alt="">Français</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <!-- Language Area End Here -->
                                        </ul>
                                    </div>
                                </div>
                                <!-- Header Top Right Area End Here -->
                            </div>
                        </div>
                    </div>
</body>
</html>