<!DOCTYPE html>
<html lang="en" xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/admin/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="/admin/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/admin/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="/admin/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
       	<div th:replace="/layout/admin/header.html"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
    	<div th:replace="/layout/admin/sidebarnk.html"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                      	<div class="card-body">
							<form>
						  <div class="form-group">
						    <input name="keyword" type="text" class="form-control" id="formGroupExampleInput" placeholder="Search...">
						  </div>
						</form>
								<h4 class="card-title">Danh sách sản phẩm</h4>
								<div class="table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
										<th scope="col"><a th:href="@{'/admin/listcustomer/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Mã khách hàng</a></th>
										<th scope="col"><a th:href="@{'/admin/listcustomer/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">Tên khách hàng</a></th>
										<th scope="col"><a th:href="@{'/admin/listcustomer/page/' + ${currentPage} + '?sortField=age&sortDir=' + ${reverseSortDir}}">age</a></th>
												<th scope="col">Ngày sinh</th>
										<th scope="col"><a th:href="@{'/admin/listcustomer/page/' + ${currentPage} + '?sortField=gioitinh&sortDir=' + ${reverseSortDir}}">Giới tính</a></th>
												<th scope="col"> Ảnh</th>
												<th scope="col"></th>
												<th scope="col"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="c: ${listCustomer}">
												<td>[[${c.id}]]</td>
												<td>[[${c.firstName} +' '+ ${c.lastName}]]</td>
												<td>[[${c.age}]]</td>
												<td th:text="${#dates.format(c.dateOfBirth, 'dd-MM-yyyy')}">[[${c.dateOfBirth}]]</td>
												<td>[[${c.gioitinh}]]</td>
												<td><img th:src="@{|/images/staff/${c.logo}|}" width="80" height="50"/></td>
												<td><a th:href="@{|/admin/listcustomer/${c.id}|}">Edit</a></td>
												<td><a th:href="@{|/admin/listcustomer/delete/${c.id}|}">Delete</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
									<span style="margin-left:2rem;">Total Items: [[${totalItems}]]- Page [[${currentPage}]] of [[${totalPages}]]</span>
							<nav aria-label="Page navigation example" style="margin-left: 80rem;">
								<ul class="pagination">
								<li class="page-item">
									<a class="page-link" th:if="${currentPage > 1}" th:href="@{'/admin/listcustomer/page/' + ${currentPage - 1} + '?sortField=id&sortDir=' + ${reverseSortDir}}" aria-label="Previous">Previous</a>
									<span aria-label="Previous" th:unless="${currentPage >1}">Previous</span>
									&nbsp;&nbsp;
									</li>
									<span th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
									<span><a th:if="${i != currentPage}" th:href="@{'/admin/listcustomer/page/' +${i} + '?sortField=id&sortDir=' + ${reverseSortDir}}">[[${i}]]</a>
									    <span th:unless="${i != currentPage}">[[${i}]]</span> &nbsp;
									</span> &nbsp;&nbsp;
									</span>
									<li class="page-item">
									<a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/listcustomer/page/' + ${currentPage + 1} + '?sortField=id&sortDir=' + ${reverseSortDir}}" aria-label="Next">Next</a>
									<span th:unless="${currentPage < totalPages}">Next</span>
									</li>
								</ul>
							</nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="/layout/admin/footer.html"></div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/admin/plugins/common/common.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/gleek.js"></script>
    <script src="/admin/js/styleSwitcher.js"></script>

    <script src="/admin/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

</body>

</html>