<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a th:href="@{/admin}">
                    <b class="logo-abbr"><img src="/admin/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/admin/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="/admin/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
		<div th:replace="@{/layout/admin/header.html}"></div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="@{/layout/admin/sidebarnk.html}"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" th:action="@{/admin/category/insert}" th:object="${category}" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Tên loại sản phẩm <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input th:field="*{name}" type="text" class="form-control" id="val-email"  placeholder="Nhập tên sản phẩm...">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">Ảnh sản phẩm <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                           <input  th:field="*{logo}" type="file" onchange="readURL(this);" class="form-control" id="val-confirm-password" name="image" placeholder="Số lượng sản phẩm">
                                           <img id="image" src="/images/product/large-size/1.jpg">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-phoneus">Status <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
												   <select th:field="*{status}" class="form-control" id="val-skill" name="status">
                                                    <option value="ACTIVE">Active</option>
                                                    <option value="INACTIVE">Inactive</option>
                                                </select>                                           
                                                 </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Insert</button>
                                                <button type="submit" class="btn btn-primary">Update</button>
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                                <button type="submit" class="btn btn-primary">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                    <p> Messenger</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="@{/layout/admin/footer.html}"></div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/admin/plugins/common/common.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/gleek.js"></script>
    <script src="/admin/js/styleSwitcher.js"></script>

    <script src="/admin/plugins/validation/jquery.validate.min.js"></script>
    <script src="/admin/plugins/validation/jquery.validate-init.js"></script>
	<script src="/js/category.js"></script>
</body>

</html>