<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body onload="show()">

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a  th:href="@{/admin}">
                <b class="logo-abbr"><img src="/admin/images/logo.png" alt=""> </b>
                <span class="logo-compact"><img src="/admin/images/logo-compact.png" alt=""></span>
                <span class="brand-title">
                        <img src="/admin/images/logo-text.png" alt="">
                    </span>
            </a>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="/layout/admin/header.html"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ******************0*****************-->
    <div th:replace="/layout/admin/sidebarnk.html"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide" th:action="@{admin}" th:object="${staff}" method="post" enctype="multipart/form-data">
                                    <p th:text="${message}" style="color: red; font-size: 20"></p>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-suggestions">Username
                                        </label>
                                        <div class="col-lg-6">
                                            <input th:field="*{username}" type="text" class="form-control">
                                            <span class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-suggestions">Password <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input th:value="*{password}" th:field="*{password}" type="text" class="form-control" id="val-password" name="password">
                                            <i style="float:left;" class="fa fa-eye" id="eye"></i>
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-username">First Name <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input th:field="*{firstName}" type="text" class="form-control" id="val-username" name="firstName" placeholder="Enter your First name">
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-email">Last Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input th:field="*{lastName}" type="text" class="form-control" id="val-email" name="lastName" placeholder="Enter your Last name">
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-confirm-password">Địa chỉ<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea th:field="*{address}" class="form-control" id="val-suggestions" name="address" rows="5" placeholder="Địa chỉ của bạn..."></textarea>
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-suggestions">Ngày sinh <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input th:field="*{dateOfBirth}" type="date" class="form-control" id="val-password" name="dateOfBirth" placeholder="Nhập email của bạn..">
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-currency">Quốc tịch<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <select th:field="*{nationality}" class="form-control" id="val-skill" name="val-skill">
                                                <option value="">Please select</option>
                                                <option value="VN">Việt Nam</option>
                                                <option value="USA">American</option>
                                                <option value="JP">Japan</option>
                                                <option value="CN">China</option>
                                                <option value="GY">Germany</option>
                                                <option value="USK">England</option>
                                                <option value="DS">Dandmarks</option>
                                                <option value="PL">Poland</option>
                                                <option value="ND">Neitherland</option>
                                                <option value="TD">ThaiLand</option>
                                                <option value="IA">Indonesia</option>
                                            </select>
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-currency">Giới tính
                                        </label>
                                        <div class="col-lg-6">
                                            <select th:field="*{gioitinh}" class="form-control" id="val-skill" name="val-skill">
                                                <option value="">Please select</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nu">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-currency">Trạng thái<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <select th:field="*{status}" class="form-control" id="val-skill" name="val-skill">
                                                <option value="">Please select</option>
                                                <option value="ACTIVE">Active</option>
                                                <option value="INACTIVE">Inactive</option>
                                            </select>
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-suggestions">Email <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input th:field="*{email}" type="email" class="form-control" id="val-password" name="email" placeholder="Nhập email của bạn..">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-currency">Phone <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input th:field="*{phone}" type="text" class="form-control" id="val-currency" name="phoneNumber" placeholder="0909442487">
                                            <span  class="text-danger" style="color: red;"  th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">Ảnh sản phẩm  <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input  type="file" onchange="readURL(this);" class="form-control" id="val-confirm-password" name="image">
                                            <img id="image" th:src="@{|/images/staff/*{logo}}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-8 ml-auto">
                                            <button th:formaction="@{/admin/staff/insert}" formmethod="post" type="submit" class="btn btn-primary">Insert</button>
                                            <button th:formaction="@{|/admin/liststaff/${id}|}" formmethod="post" type="submit" class="btn btn-primary">Update</button>
                                            <button th:formaction="@{|/admin/liststaff/delete/${id}|}" formmethod="get" type="submit" class="btn btn-primary">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="/layout/admin/footer.html"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script src="/admin/plugins/common/common.min.js"></script>
<script src="/admin/js/custom.min.js"></script>
<script src="/admin/js/settings.js"></script>
<script src="/admin/js/gleek.js"></script>
<script src="/admin/js/styleSwitcher.js"></script>

<script src="/admin/plugins/validation/jquery.validate.min.js"></script>
<script src="/admin/plugins/validation/jquery.validate-init.js"></script>
<script src="/js/category.js"></script>

</body>

</html>