<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
  <link href="/admin/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="/admin/css/style.css" rel="stylesheet">
</head>
<body>
<div id="preloader">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
    </svg>
  </div>
</div>
<div id="main-wrapper">
  <div class="nav-header">
    <div class="brand-logo">
      <a  th:href="@{/admin}">
        <b class="logo-abbr"><img src="/admin/images/logo.png" alt=""> </b>
        <span class="logo-compact"><img src="/admin/images/logo-compact.png" alt=""></span>
        <span class="brand-title">
                        <img src="/admin/images/logo-text.png" alt="">
        </span>
      </a>
    </div>
  </div>
  <div th:replace="@{/layout/admin/header.html}"></div>
  <div th:replace="@{/layout/admin/sidebarnk.html}"></div>
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Danh sách khách hàng đã đăng ký</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Danh sách sản phẩm bán chạy</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Danh sách các loại sản phẩm bán chạy theo tháng</button>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item" role="presentation">
                  <button class="nav-link" id="revenue-tab" data-toggle="tab" data-target="#revenue" type="button" role="tab" aria-controls="revenue" aria-selected="false">Doanh thu</button>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN','STAFF')" class="nav-item" role="presentation">
                  <button class="nav-link" id="customer-tab" data-toggle="tab" data-target="#customer" type="button" role="tab" aria-controls="customer" aria-selected="false">Danh sách khách hàng mua nhiều nhất trong tháng</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <select onChange="window.location.href=this.value" name="month" class="form-control" style="width:100px;float:left;">
                    <option selected >month</option>
                    <option th:with="month=${m}" th:value="@{'/admin/listAccount/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} +${keyword !=null ? '&keyword=' + keyword : ''} + ${month != null ? '&month=' + month : ''} + ${years != null ? '&years=' + years : ''}}" th:each="m: ${listMonth}">[[${m}]]</option>
                  </select>
                  <select onChange="window.location.href=this.value" name="years" class="form-control" style="width:100px;margin-top:10px;margin-left:30px;">
                    <option selected >years</option>
                    <option th:with="years=${y}" th:value="@{'/admin/listAccount/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} +${keyword !=null ? '&keyword=' + keyword : ''} + ${month != null ? '&month=' + month : ''} + ${years != null ? '&years=' + years : ''}}" th:each="y: ${listYears}">[[${y}]]</option>
                  </select>
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tên khách hàng</th>
                      <th scope="col">Ngày sinh</th>
                      <th scope="col">Tuổi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a,state: ${listAccount}">
                      <th scope="row">[[${state.index}]]</th>
                      <td>[[${a.firstName} + ${a.lastName}]]</td>
                      <td th:text="${#dates.format(a.dateOfBirth, 'dd-MM-yyyy')}">[[${a.dateOfBirth}]]</td>
                      <td>[[${a.age}]]</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Mã sản phẩm</th>
                      <th scope="col">Tên sản phẩm</th>
                      <th scope="col">Giá sản phẩm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,state: ${listProductHotSale}">
                      <th>[[${state.index}]]</th>
                      <th scope="row">[[${p.id}]]</th>
                      <td>[[${p.name}]]</td>
                      <td>[[${p.price}]]</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Mã loại sản phẩm</th>
                      <th scope="col">Tên loại phẩm</th>
                      <th scope="col">Logo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c,state: ${listCategoryHotSale}">
                      <th>[[${state.index}]]</th>
                      <th scope="row">[[${c.id}]]</th>
                      <td>[[${c.name}]]</td>
                      <td><img th:src="@{|/images/product/${c.logo}|}" width="100" height="50"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="revenue" role="tabpanel" aria-labelledby="revenue-tab">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Doanh thu tháng 9  ($)</th>
                      <th scope="col">Doanh thu tháng 10 ($)</th>
                      <th scope="col">Doanh thu tháng 11 ($)</th>
                      <th scope="col">Doanh thu tháng 12 ($)</th>
                      <th scope="col">Tổng doanh thu  ($)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th>[[${sumRevenueBySeptember}]]</th>
                      <th>[[${sumRevenueByOctober}]]</th>
                      <th>[[${sumRevenueByNovember}]]</th>
                      <th>[[${sumRevenueByDecember}]]</th>
                      <td>[[${sumRevenueByYear}]]</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tên khách hàng</th>
                      <th scope="col">Địa chỉ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a,state: ${listAccountTotalPrice}">
                      <th scope="row">[[${state.index}]]</th>
                      <td>[[${a.firstName} + ${a.lastName}]]</td>
                      <td>[[${a.address}]]</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
</div>

<script src="/admin/plugins/common/common.min.js"></script>
<script src="/admin/js/custom.min.js"></script>
<script src="/admin/js/settings.js"></script>
<script src="/admin/js/gleek.js"></script>
<script src="/admin/js/styleSwitcher.js"></script>
<script src="/admin/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
<script src="/admin/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
</body>
</html>